# Ambiente virtual
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Pandas / Jupyter
.ipynb_checkpoints/

# VSCode / IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Dados (NÃO versionar dados brutos ou processados)
data/raw/
data/processed/

# ZIPs gerados
*.zip
